@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

@plugin "daisyui";
@import "tailwindcss";
html {
  font-family: "Space Grotesk", sans-serif;
}
#skill {
  font-family: "Nanum Pen Script", cursive;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0ec4f0;
  --color-secondary: #a7d6d1;
  --color-accent: #e1f4f3;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #0ec4f0;
  /* --color-primary: #454948; */
  --color-secondary: #6c8ea4;
  --color-accent: #303d3c;
}
